@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
    --principal-color: hsl(120, 71%, 91%);
    --secondary-color: hsl(151, 38%, 64%);
    --accent-color: hsl(265, 7%, 34%);
    --accent-color2: hsl(200, 15%, 43%);
    --third-color: hsl(229, 100%, 90%);
    --max-width: 1000px;
}
#root{
    height: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #FFFAFA;

}
a{
    cursor: pointer;
}
button{
    border: none;
    cursor: pointer;
}
.not-found{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    max-width: var(--max-width);
}
